{% extends "base.html" %}
{% block title %}All Assessments{% endblock %}
{% block content %}
<h1>All assessments</h1>
<h2>In progress:</h2>
<div class="assessment-list">
    {% for assessment in in_progress %}
    <div class="assessment">
        <h3>{{ assessment.module_code }}</h3>
        <p>{{ assessment.assessment_title }}</p>
        <p>Description: {{ assessment.description }}</p>
        <p>Due at: {{ assessment.deadline_date }}</p>
        <a href="{{ url_for('edit', id=assessment.id) }}" class="btn btn-primary">Edit</a>
        <a href="{{ url_for('toggle_status', id=assessment.id) }}" class="btn btn-success">Complete</a>
        <a href="{{ url_for('delete', id=assessment.id) }}" class="btn btn-danger">Delete</a>

    </div>
    {% endfor %}
</div>
<h2>Completed:</h2>
<div class="assessment-list">
    {% for assessment in completed %}
    <div class="assessment">
        <h3>{{ assessment.module_code }}</h3>
        <p>{{ assessment.assessment_title }}</p>
        <p>Description: {{ assessment.description }}</p>
        <p>Due at: {{ assessment.deadline_date }}</p>
        <a href="{{ url_for('edit', id=assessment.id) }}" class="btn btn-primary">Edit</a>
        <a href="{{ url_for('toggle_status', id=assessment.id) }}" class="btn btn-warning">Un-finish</a>
        <a href="{{ url_for('delete', id=assessment.id) }}" class="btn btn-danger">Delete</a>
    </div>
    {% endfor %}
</div>
{% endblock %}